* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background: linear-gradient(
    325deg,
    rgb(123, 189, 175) 0,
    rgb(237, 241, 245) 100%
  );
}

header {
  display: flex;
  justify-content: center;
  padding: 30px;
  color: #42a1b5;
  font-size: 30px;
}

/* #countdown {
  display: none;
} */

canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
}
